body {
    background: url("../assets/images/background3.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: relative;
    margin: auto;
}

.card-header {
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgba(0, 10, 150, 0.712);
}


th {
    font-family: 'Montserrat', sans-serif;
    color: rgb(83, 83, 19);
}

td {
    color: rgb(22, 187, 0);
    font-size: 135%;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-color: rgba(0, 10, 150, 0.712);
}

.card-body {
    background-color: rgba(255, 255, 255, 0.678);
}

.card {
    background-color: rgba(255, 255, 255, 0.295);
}

label {
    font-family: 'Montserrat', sans-serif;

}

.form-control {
    font-family: 'Montserrat', sans-serif;

}